In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('ch11_potato.csv')
sample=np.array(df['무게'])
sample

array([122.02, 131.73, 130.6 , 131.82, 132.05, 126.12, 124.43, 132.89,
       122.79, 129.95, 126.14, 134.45, 127.64, 125.68])

## 1. 일표본 T검정(one sample t-test)

- 정규성 검정

In [4]:
import scipy.stats as stats
from scipy.stats import shapiro
shapiro(sample)

ShapiroResult(statistic=0.9412715435028076, pvalue=0.43486055731773376)

0.05보다 크므로 귀무가설을 기각할 수 없다.

- 정규성검정->기각x(정규분포따를때) : 모분산 알고있을 경우(z분포)

H0 : 감자튀김 모평균은 130g

H1 : 감자튀김 모평균은 130g이 아니다.

모분산은 9라고 알려져있다.

In [14]:
mean0=130
p_var=9
s_mean=np.mean(sample)
rv=stats.norm()
#검정통계량
z=(s_mean-mean0)/np.sqrt(p_var/n)
z
#z는 음수
#z>0 : p=(1-rv.cdf(z))*2
p=rv.cdf(z)*2
p

0.05332263904625327

귀무가설을 기각할 수 없다. 감자튀김의 모평균은 130g이라고 할 수 있다.

- 정규성검정->기각x(정규분포따를때) : 모분산 모를경우(t분포)

H0 : 감자튀김 모평균은 130g

H1 : 감자튀김 모평균은 130g이 아니다.

모분산은 9라고 알려져있다.

In [20]:
mean0=130
s_mean=np.mean(sample)
u_var=np.var(sample, ddof=1)
n=len(sample)
rv=stats.t(df=n-1)
#검정통계량
t=(s_mean-mean0)/np.sqrt(u_var/n)
t
#t는 음수
#t>0 : p=(1-rv.cdf(t))*2
p=rv.cdf(t)*2
p

0.16933464230414275

귀무가설을 기각할 수 없다. 감자튀김의 모평균은 130g이라고 할 수 없다.

- 정규성검정->기각o(정규분포따르지 않을때) : 윌콕슨 부호순위 검정

H0 : 감자튀김 모평균은 130g

H1 : 감자튀김 모평균은 130g이 아니다.

In [21]:
mean0=130
stats.wilcoxon(sample-mean0, alternative='two-sided')

WilcoxonResult(statistic=32.0, pvalue=0.216552734375)

귀무가설을 기각할 수 없다. 감자튀김의 모평균은 130g이라고 할 수 없다.

<쉽게 구하는 방법>

In [24]:
mean0=130
t, p =stats.ttest_1samp(sample, mean0)
p

0.16933464230414275

## 1-1. 예제

H0 : 고양이의 평균 몸무게는 2.6kg이다.

H1 : 고양이의 평균 몸무게는 2.6kg가 아니다.

In [27]:
import pandas as pd
cats=pd.read_csv('cats.csv')
#sample=np.array(df['무게'])
cats.info()

    Sex  Bwt   Hwt
0     F  2.0   7.0
1     F  2.0   7.4
2     F  2.0   9.5
3     F  2.1   7.2
4     F  2.1   7.3
..   ..  ...   ...
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

[144 rows x 3 columns]

In [30]:
import scipy.stats as stats
from scipy.stats import shapiro
#검정하는 수
mean0=2.6
shapiro(cats['Bwt'])

ShapiroResult(statistic=0.9518786668777466, pvalue=6.730248423991725e-05)

In [31]:
# 기각하였으므로 정규분포를 따르지 않음 -> 윌콕슨 부호순위 검정
stats.wilcoxon(cats.Bwt-mean0, alternative='two-sided')

WilcoxonResult(statistic=3573.0, pvalue=0.02524520294814093)

귀무가설을 기각한다. 고양이의 평균 몸무게는 2.6kg가 아니라고 할 수 있다.

## 2. 대응표본 T검정(Paired Sample t_test)
- 단일 모집단에 두개의 처리! (전/후 같은 개념) 평균 비교
- 같은 집단이므로 등분산성 조건은 만족한 상태

- 정규성 검정

In [32]:
training_rel=pd.read_csv('ch11_training_rel.csv')

import scipy.stats as stats
from scipy.stats import shapiro
training_rel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전       20 non-null     int64
 1   후       20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes

In [36]:
shapiro(training_rel['전'])

ShapiroResult(statistic=0.9670043587684631, pvalue=0.6907904148101807)

In [37]:
shapiro(training_rel['후'])

ShapiroResult(statistic=0.9786623120307922, pvalue=0.9156785011291504)

귀무가설을 기각할 수 없다. 정규분포를 따른다.

- 정규성 가정했을 때(수기로 구하기)

In [54]:
#평균차이(d)
d=25
#표준편차 차이(std)
s=9.2
n=20
#표준오차(se)
se=s/np.sqrt(n)
#검정통계량
t=d/se
t
#t는 양수
rv=stats.t(df=n-1)
p=(1-rv.cdf(t))*2
p

2.09250394789251e-10

귀무가설을 기각한다. 두 모평균 사이의 차이는 있다.

- 정규성 가정했을 때(쉽게 구하는법)

In [49]:
stats.ttest_rel(training_rel['전'], training_rel['후'], alternative='two-sided')

Ttest_relResult(statistic=-2.204154108716127, pvalue=0.04004419061842953)

귀무가설을 기각한다. 두 모평균 사이의 차이는 있다.

- 정규분포 따르지 않음=>윌콕슨의 부호 순위 검정

In [57]:
t, p = stats.wilcoxon(training_rel['전'], training_rel['후'])
t, p

(49.5, 0.03623390197753906)

귀무가설을 기각한다. 두 모평균 사이의 차이는 있다.

## 2-1. 예제
10명 환자 대상 수면영양제 복용 전과 후의 수면시간을 측정하였다.

H0 : 복용 전과 후의 수면시간에는 차이가 없다.

H1 : 복용 전과 후의 수면시간에는 차이가 있다.

In [59]:
import pandas as pd
data={'before' : [7,3,4,5,2,1,6,6,5,4], 'after':[8,4,5,6,2,3,6,8,6,5]}
data=pd.DataFrame(data)
data

   before  after
0       7      8
1       3      4
2       4      5
3       5      6
4       2      2
5       1      3
6       6      6
7       6      8
8       5      6
9       4      5

- 정규성 검정

In [61]:
import scipy.stats as stats
from scipy.stats import shapiro
shapiro(data['before'])
shapiro(data['after'])

ShapiroResult(statistic=0.9456837177276611, pvalue=0.6177994012832642)

기각할 수 없다. 정규분포따름

In [65]:
stats.ttest_rel(data['before'], data['after'], alternative='two-sided')

Ttest_relResult(statistic=-4.743416490252569, pvalue=0.001053871257016553)

귀무가설을 기각한다. 복용 전과 후의 수면시간에는 차이가 없다고 할 수 없다. 즉 복용 전과 후의 수면시간에는 차이가 있다.

## 3. 독립표본 T검정(Independent sample t-test)
- 두 개의 독립된 모집단의 평균을 비교

- 모집단의 정규분포 가정

In [67]:
training_ind=pd.read_csv('ch11_training_ind.csv')
training_ind.head()

    A   B
0  47  49
1  50  52
2  37  54
3  60  48
4  39  51

In [68]:
import scipy.stats as stats
from scipy.stats import shapiro
shapiro(training_ind['A'])

ShapiroResult(statistic=0.9685941338539124, pvalue=0.7249506711959839)

In [69]:
shapiro(training_ind['B'])

ShapiroResult(statistic=0.9730017781257629, pvalue=0.8165717720985413)

귀무가설을 기각. 정규분포 가정함

- 정규성 가정 후 등분산 검정

In [72]:
A=np.array(training_ind['A'])
B=np.array(training_ind['B'])
stats.levene(A, B)

LeveneResult(statistic=2.061573118077718, pvalue=0.15923550057222613)

귀무가설을 기각할 수 없음. equal_var=True로 입력, 등분산을 가정한다

- 독립t-test진행

H0 : 두 모평균 사이의 차이는 없다(동일)
    
H1 : 두 모평균 사이의 차이는 있다(유의미한 차이가 있다)

In [75]:
stats.ttest_ind(A, B, equal_var=True)

Ttest_indResult(statistic=-1.7608157246524712, pvalue=0.08631600572195147)

귀무가설을 기각할 수 없다. 즉 두 모평균 사이의 차이는 없다고 할 수 있다.

- 정규성을 가정할 수 없을 경우 : 만 위트니의 U 검정

In [78]:
u, p = stats.mannwhitneyu(training_ind['A'], training_ind['B'], alternative='two-sided')
u, p

(130.0, 0.05948611166127324)

귀무가설을 기각할 수 없다. 두 모평균 사이의 차이는 없다고 할 수 있다.

## 3-2. 예제
H0 : 수컷과 암컷 고양이의 몸무게 차이는 없다.

H1 : 수컷과 암컷 고양이의 몸무게 차이는 있다.

In [80]:
import pandas as pd
cats=pd.read_csv('cats.csv')
cats.head()

  Sex  Bwt  Hwt
0   F  2.0  7.0
1   F  2.0  7.4
2   F  2.0  9.5
3   F  2.1  7.2
4   F  2.1  7.3

- 정규분포를 가정하고 문제를 풀음. 등분산 검정

In [86]:
female=cats.loc[cats['Sex']=='F', 'Bwt']
male=cats.loc[cats['Sex']=='M', 'Bwt']
stats.levene(female, male)

LeveneResult(statistic=19.43101190877999, pvalue=2.0435285255189404e-05)

귀무가설을 기각한다. 등분산을 가정할 수 없다. equal_var=False로 작성한다

- 독립 t-test

In [88]:
stats.ttest_ind(female, male, equal_var=False)

Ttest_indResult(statistic=-8.70948849909559, pvalue=8.831034455859356e-15)

귀무가설을 기각한다. 두 모평균 사이의 차이가 있다고 할 수 있다.

## 4. 카이제곱 검정 -> 독립성 검정
- 모집단이 두개의 변수 A, B에 의해 범주화 되었을 때, 이 변수들 사이의 관계가 독립인지 아닌지 검정하는 방법

H0 : 변수 1과 변수 2는 독립이다.

H1 : 변수 1과 변수 2는 독립이 아니다.

- (1) 교차 집계표(분할표) 작성

In [90]:
ad_df=pd.read_csv("ch11_ad.csv")
n=len(ad_df)
ad_df.head()

  광고      구입
0  B  하지 않았다
1  B  하지 않았다
2  A      했다
3  A      했다
4  B  하지 않았다

In [91]:
ad_cross=pd.crosstab(ad_df['광고'], ad_df['구입'])
ad_cross

구입  하지 않았다  했다
광고
A      351  49
B      549  51

- (2) 크로스탭(교차표 생성)

In [96]:
chi2, p, dof, ef=stats.chi2_contingency(ad_cross, correction=False)
chi2, p, dof

(3.75, 0.052807511416113395, 1)

귀무가설을 기각할 수 없다. 광고 구입은 독립이다.

## 4-1. 예제

In [104]:
#데이터 프레임 생성
data={'등산':[20, 15], '수영':[10,30]}
data=pd.DataFrame(data)
data.index=['남자', '여자']
data

    등산  수영
남자  20  10
여자  15  30

- 독립성 검정

H0 : 성별과 운동은 독립이다.

H1 : 성별과 운동은 독립이 아니다.

In [106]:
from scipy.stats import chi2_contingency
chi2, p, dof, ef=stats.chi2_contingency(data, correction=False)
chi2, p

(8.035714285714285, 0.0045863920802535025)

귀무가설을 기각한다. 두 변수는 독립이 아니다. 따라서 남자중에 등산을 좋아할 확률은 20/30=2/3확률이다

## 4-2. 예제2

H0 : class 변수와 survived 변수는 독립이다.

H1 : class 변수와 survived 변수는 독립이 아니다.

In [109]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town
0,0,3,male,22.0,1,0,7.2500,S,Third,True,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton
3,1,1,female,35.0,1,0,53.1000,S,First,False,Southampton
4,0,3,male,35.0,0,0,8.0500,S,Third,True,Southampton

In [110]:
table=pd.crosstab(df['class'], df['survived'])

In [111]:
table

survived    0    1
class
First      80  136
Second     97   87
Third     372  119

In [112]:
from scipy.stats import chi2_contingency
chi2, p, dof, ef=stats.chi2_contingency(table, correction=False)
chi2, p

(102.88898875696056, 4.549251711298793e-23)

귀무가설을 기각한다. class 변수와 survived 변수는 독립이 아니다.

## 5. 카이제곱 검정 -> 적합성 검정
- 각 범주에 따른 데이터의 빈도분포가 이론적으로 기대하는 분포를 따르는지 검정

H0 : 관측분포와 기대분포가 동일

H1 : 관측분포와 기대분포가 동일하지 않음(다름)

## 5-1. 예제

H0 : 타이타닉호의 생존자 중 남자의 비율이 50%, 여자의 비율이 50%이다.

H1 : 타이타닉호의 생존자 중 남자의 비율이 50%, 여자의 비율이 50%라고 할 수 없다.

In [117]:
import pandas as pd
df=pd.read_csv("titanic.csv")

- 범주형 변수의 관찰빈도 확인

In [115]:
df_t=df[df['survived']==1]
table=df_t[['sex']].value_counts()
table

sex
female    233
male      109
dtype: int64

- 적합도 검정

In [116]:
from scipy.stats import chisquare
chi=chisquare(table, f_exp=[171, 171])
chi

Power_divergenceResult(statistic=44.95906432748538, pvalue=2.0119672574477235e-11)

귀무가설을 기각한다. 타이타닉호의 생존자 중 남자의 비율이 50%, 여자의 비율이 50%라고 할 수 없다.

## 6. Run-test(연관규칙 찾기 전)
- 연속적인 binary 관측값들이 임의적으로 나타난 값인지 연관이 있는지 먼저 검정

H0 : 관측값이 임의적이다(연관x)

H1 : 관측값이 임의적이 아니다(연관o)

In [132]:
import pandas as pd
data={'product':['a','a','b', 'b', 'a','a','a','a','b','b','b','b','b','a','a','b','b','a','b','b']}
a=9
b=11

In [141]:
test_df=pd.DataFrame(data)
len(test_df)
test_df.info()
#test_df['product'] = test_df['product'].astype(str)
#test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   product  20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   product  20 non-null     object
dtypes: object(1)
memory usage: 288.0+ bytes

In [142]:
mean=2*a*b/(a*b)+1
mean

3.0

In [145]:
test_df.loc[test_df['product']=='a', 'product']=1
test_df.loc[test_df['product']=='b', 'product']=0

In [150]:
from statsmodels.sandbox.stats.runs import runstest_1samp
runstest_1samp(test_df['product'], cutoff=0.5, correction=True)

(-1.1144881152070183, 0.26506984027306035)

귀무가설을 기각할 수 없다. 즉 상품a와 b의 구매에는 연관이 없다.