In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sns
from scipy import stats

In [5]:
data=pd.read_csv("ch4_scores400.csv")
scores=np.array(data['score'])

In [7]:
p_mean=np.mean(scores)
p_var=np.var(scores)

In [8]:
np.random.seed(0)
n=20
sample=np.random.choice(scores, n)

In [9]:
s_mean=np.mean(sample)
s_mean

70.4

In [10]:
u_var=np.var(sample, ddof=1)
u_var

158.25263157894742

In [11]:
rv=stats.norm()
lcl=s_mean-rv.isf(0.025)*np.sqrt(p_var/n)
ucl=s_mean-rv.isf(0.975)*np.sqrt(p_var/n)

lcl,ucl

(64.09956018535247, 76.70043981464754)

In [12]:
rv=stats.chi2(df=n-1)
lcl=(n-1)*u_var/rv.isf(0.025)
ucl=(n-1)*u_var/rv.isf(0.975)

lcl, ucl

(91.52471947132238, 337.5955129124592)

In [13]:
rv=stats.t(df=n-1)
lcl=s_mean-rv.isf(0.025)*np.sqrt(u_var/n)
ucl=s_mean-rv.isf(0.975)*np.sqrt(u_var/n)

lcl, ucl

(64.51244886603887, 76.28755113396114)

In [15]:
#알파=0.9
#1-알파=0.1
#0.5, 0.95

n=10
u_var=6.42
rv=stats.chi2(df=n-1)
lcl=(n-1)*u_var/rv.isf(0.05)
ucl=(n-1)*u_var/rv.isf(0.95)

lcl, ucl

(3.415099975321245, 17.37685387744868)

In [16]:
n=20
u_var=90**2
rv=stats.chi2(df=n-1)
lcl=(n-1)*u_var/rv.isf(0.05)
ucl=(n-1)*u_var/rv.isf(0.95)

lcl, ucl

(5105.573709077189, 15211.99973041214)

In [17]:
import pandas as pd
import numpy as np
df=pd.read_csv("ch11_potato.csv")
sample=np.array(df['무게'])
sample

array([122.02, 131.73, 130.6 , 131.82, 132.05, 126.12, 124.43, 132.89,
       122.79, 129.95, 126.14, 134.45, 127.64, 125.68])

In [19]:
import scipy.stats as stats
from scipy.stats import shapiro
mu=130
shapiro(sample)

ShapiroResult(statistic=0.9412715435028076, pvalue=0.43486055731773376)

p-value가 0.05보다 크므로 귀무가설을 기각할 수 없다. 즉 정규성을 따른다

In [20]:
mean0=130
p_var=9
s_mean=np.mean(sample)
n=len(sample)
rv=stats.norm()
z=(s_mean-mean0)/np.sqrt(p_var/n)
z

-1.932298779026813

In [22]:
#z가 음수
p=rv.cdf(z)*2
p

0.05332263904625327

In [23]:
alpha=0.05
rv.interval(1-alpha)

(-1.959963984540054, 1.959963984540054)

In [24]:
mean0=130
s_mean=np.mean(sample)
u_var=np.var(sample, ddof=1)
n=len(sample)
rv=stats.t(df=n-1)
t=(s_mean-mean0)/np.sqrt(u_var/n)
t

-1.4551960206404198

In [25]:
#t는 음수이므로
p=rv.cdf(t)*2
p

0.16933464230414275

In [26]:
t, p=stats.ttest_1samp(sample, mean0)
p

0.16933464230414275

In [28]:
mean0=130
stats.wilcoxon(sample-mean0, alternative='two-sided')

WilcoxonResult(statistic=32.0, pvalue=0.216552734375)

p가 0.05보다 크므로 귀무가설을 기각할 수 없다. 즉 감자튀김 모평균은 130g

In [30]:
import pandas as pd
data=pd.read_csv("cats.csv")
data

    Sex  Bwt   Hwt
0     F  2.0   7.0
1     F  2.0   7.4
2     F  2.0   9.5
3     F  2.1   7.2
4     F  2.1   7.3
..   ..  ...   ...
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

[144 rows x 3 columns]

In [31]:
df=np.array(data['Bwt'])
df

array([2. , 2. , 2. , 2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.1, 2.2,
       2.2, 2.2, 2.2, 2.2, 2.2, 2.3, 2.3, 2.3, 2.3, 2.3, 2.3, 2.3, 2.3,
       2.3, 2.3, 2.3, 2.3, 2.4, 2.4, 2.4, 2.4, 2.5, 2.5, 2.6, 2.6, 2.6,
       2.7, 2.7, 2.7, 2.9, 2.9, 2.9, 3. , 3. , 2. , 2. , 2.1, 2.2, 2.2,
       2.2, 2.2, 2.2, 2.2, 2.2, 2.2, 2.3, 2.4, 2.4, 2.4, 2.4, 2.4, 2.5,
       2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.6, 2.6, 2.6, 2.6, 2.6, 2.6,
       2.7, 2.7, 2.7, 2.7, 2.7, 2.7, 2.7, 2.7, 2.7, 2.8, 2.8, 2.8, 2.8,
       2.8, 2.8, 2.8, 2.9, 2.9, 2.9, 2.9, 2.9, 3. , 3. , 3. , 3. , 3. ,
       3. , 3. , 3. , 3. , 3.1, 3.1, 3.1, 3.1, 3.1, 3.1, 3.2, 3.2, 3.2,
       3.2, 3.2, 3.2, 3.3, 3.3, 3.3, 3.3, 3.3, 3.4, 3.4, 3.4, 3.4, 3.4,
       3.5, 3.5, 3.5, 3.5, 3.5, 3.6, 3.6, 3.6, 3.6, 3.7, 3.8, 3.8, 3.9,
       3.9])

In [34]:
mu=2.6
shapiro(df)

ShapiroResult(statistic=0.9518786668777466, pvalue=6.730248423991725e-05)

In [35]:
stats.wilcoxon(df-mu, alternative='two-sided')

WilcoxonResult(statistic=3573.0, pvalue=0.02524520294814093)

귀무가설을 기각하므로 모평균은 2.6이 아니라고 할 수 있다

In [37]:
data=pd.read_csv("ch11_training_rel.csv")
data

     전   후
0   59  41
1   52  63
2   55  68
3   61  59
4   59  84
5   45  37
6   55  60
7   49  52
8   49  68
9   52  70
10  51  57
11  57  65
12  54  51
13  51  38
14  52  54
15  52  58
16  57  73
17  49  65
18  52  54
19  46  48

In [39]:
import scipy.stats as stats
from scipy.stats import shapiro
shapiro(data['전'])

ShapiroResult(statistic=0.9670043587684631, pvalue=0.6907904148101807)

In [40]:
shapiro(data['후'])

ShapiroResult(statistic=0.9786623120307922, pvalue=0.9156785011291504)

정규성을 따른다

In [41]:
stats.ttest_rel(data['전'], data['후'], alternative='two-sided')

Ttest_relResult(statistic=-2.204154108716127, pvalue=0.04004419061842953)

0.05보다 작으므로 귀무가설을 기각한다. 두 모평균 사이의 차이는 있다.

In [42]:
import pandas as pd
data=pd.DataFrame({'before':[7,3,4,5,2,1,6,6,5,4], 'after':[8,4,5,6,2,3,6,8,6,5]})
data

   before  after
0       7      8
1       3      4
2       4      5
3       5      6
4       2      2
5       1      3
6       6      6
7       6      8
8       5      6
9       4      5

In [43]:
import scipy.stats as stats
from scipy.stats import shapiro
shapiro(data['after'])

ShapiroResult(statistic=0.9456837177276611, pvalue=0.6177994012832642)

In [44]:
shapiro(data['before'])

ShapiroResult(statistic=0.9644595384597778, pvalue=0.8352707624435425)

In [45]:
stats.ttest_rel(data['before'], data['after'], alternative='two-sided')

Ttest_relResult(statistic=-4.743416490252569, pvalue=0.001053871257016553)

귀무가설을 기각한다. 즉 두 모평균의 사이의 차이는 있다.

In [46]:
data=pd.read_csv("ch11_training_ind.csv")
data

     A   B
0   47  49
1   50  52
2   37  54
3   60  48
4   39  51
5   45  52
6   53  50
7   43  47
8   44  46
9   45  52
10  53  52
11  64  64
12  50  41
13  43  54
14  53  55
15  46  60
16  50  56
17  57  49
18  46  53
19  50  56

In [47]:
shapiro(data['A'])

ShapiroResult(statistic=0.9685941338539124, pvalue=0.7249506711959839)

In [48]:
shapiro(data['B'])

ShapiroResult(statistic=0.9730017781257629, pvalue=0.8165717720985413)