사회과학, 자연과학, 공학 세개 학과의 평점조사표를 보고 학과와 성적이 관계가 있는지 검정하시오.

In [1]:
import pandas as pd
import numpy as np

In [4]:
data=pd.DataFrame({"사회과학":[16, 30, 12], "자연과학":[12, 20, 3], "공학":[18,13,14]}, index=['3.5~4.5', "2.5~3.5", "1.5~2.5"])
data

         사회과학  자연과학  공학
3.5~4.5    16    12  18
2.5~3.5    30    20  13
1.5~2.5    12     3  14

H0 : 학과와 성적은 독립이다.

H1 : 학과와  성적은 독립이 아니다.

In [6]:
from scipy.stats import chi2_contingency
chi2, p, dof, ef=chi2_contingency(data, correction=False)
chi2, p

(10.199441509990177, 0.03719883770303157)

p-value가 0.05보다 작아 귀무가설을 기각한다. 즉 학과와 성적은 독립이 아니다. 관련이 있다