In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv("hotel_bookings.csv")
data.head()

,is_canceled,deposit_type,lead_time,stays_in_weekend_nights,stays_in_week_nights,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr
0,0,No Deposit,105.0,2,5,NaN,0,0,1,0,131.50
1,0,No Deposit,303.0,2,2,NaN,0,0,0,0,73.95
2,0,No Deposit,33.0,2,3,0.0,0,0,0,0,NaN
3,0,No Deposit,48.0,0,1,0.0,0,0,1,0,80.30
4,0,No Deposit,216.0,4,7,0.0,0,0,2,0,60.90

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   is_canceled                     20000 non-null  int64
 1   deposit_type                    20000 non-null  object
 2   lead_time                       19995 non-null  float64
 3   stays_in_weekend_nights         20000 non-null  int64
 4   stays_in_week_nights            20000 non-null  int64
 5   is_repeated_guest               19642 non-null  float64
 6   previous_cancellations          20000 non-null  int64
 7   previous_bookings_not_canceled  20000 non-null  int64
 8   booking_changes                 20000 non-null  int64
 9   days_in_waiting_list            20000 non-null  int64
 10  adr                             18937 non-null  float64
dtypes: float64(3), int64(7), object(1)
memory usage: 1.7+ MB

In [8]:
data['deposit_type'].value_counts()

No Deposit    19138
Non Refund      834
Refundable       28
Name: deposit_type, dtype: int64

In [9]:
sum(data.isna().sum())

1426