1.다음은 Covid19의 TimeAge 데이터 세트이다. 연령(age)이 20대(20s)인 확진자(confirmed)의 평균과 50대(50s)인 확진자(confirmed) 평균의 차이를 구하시오.

- 데이터 불러오기

In [23]:
import pandas as pd
data=pd.read_csv("TimeAge.csv")

In [24]:
data

            date  time  age  confirmed  deceased
0     2020-03-02     0   0s         32         0
1     2020-03-02     0  10s        169         0
2     2020-03-02     0  20s       1235         0
3     2020-03-02     0  30s        506         1
4     2020-03-02     0  40s        633         1
...          ...   ...  ...        ...       ...
1084  2020-06-30     0  40s       1681         3
1085  2020-06-30     0  50s       2286        15
1086  2020-06-30     0  60s       1668        41
1087  2020-06-30     0  70s        850        82
1088  2020-06-30     0  80s        556       139

[1089 rows x 5 columns]

- 10대의 confirmed 평균 계산

In [31]:
mean_20=data[data['age']=='20s']['confirmed'].mean()

In [32]:
mean_20

2858.0743801652893

- 50대의 confirmed 평균 계산

In [33]:
mean_50=data[data['age']=='50s']['confirmed'].mean()

In [34]:
mean_50

1901.0743801652893

- 평균 차이 계산

In [36]:
result=mean_20-mean_50

- 답안 제출

In [37]:
print(result)

957.0