- 문제 : 학과와 성적이 관계있는지를 검정하라.

In [1]:
import pandas as pd
import numpy as np
import 
data=pd.DataFrame({'사회과학':[15, 60, 24], '자연과학':[25, 69, 5], '공학':[10, 77, 13]}, index=['1.5-2.5', '2.5-3.5', '3.5-4.5'])

In [2]:
data

         사회과학  자연과학  공학
1.5-2.5    15    25  10
2.5-3.5    60    69  77
3.5-4.5    24     5  13

H0 : 학과와 성적은 독립이다.
    
H1 : 학과와 성적은 독립이 아니다.

In [8]:
from scipy.stats import chi2_contingency
chi2, p, dof, ef=chi2_contingency(data, correction=False)
chi2, p

(22.136920195949322, 0.00018822647762421383)

p-value가 0.05보다 작으므로 귀무가설을 기각한다. 즉 학과와 성적은 독립이 아니다. 관련성이 있다.