In [4]:
import pandas as pd
data=pd.DataFrame({'사회과학':[16,30,12], '자연과학':[12,20,3], '공학':[18,13,14]}, index=['3.5~4.5', '2.5~3.5', '1.5~2.5'])

In [5]:
data

         사회과학  자연과학  공학
3.5~4.5    16    12  18
2.5~3.5    30    20  13
1.5~2.5    12     3  14

H0 : 학과와 성적은 독립이다.\
H1 : 학과와 성적은 독립이 아니다.

In [11]:
from scipy.stats import chi2_contingency
from scipy import stats
stats.chi2_contingency(observed=data)

(10.199441509990177,
 0.03719883770303157,
 4,
 array([[19.33333333, 11.66666667, 15.        ],
        [26.47826087, 15.97826087, 20.54347826],
        [12.1884058 ,  7.35507246,  9.45652174]]))

p-value가 0.05보다 작으므로 귀무가설을 기각한다. 즉 학과와 성적은 독립이라고 할 수 없다.