In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

### 예제 1
어느 회사에서 생산하는 제품의 모분산을 추리하기 위하여, 표본 10개를 뽑았더니 표본분산은 6.42가 나왔다고 한다. 이때 제품의 모분산에 대한 90% 신뢰구간을 구하시오.

In [5]:
n=10
u_var=6.42

rv=stats.chi2(df=n-1)
#0.05
#1-0.05=0.95
lcl=(n-1)*u_var/rv.isf(0.05)
ucl=(n-1)*u_var/rv.isf(0.95)
lcl, ucl

(3.415099975321245, 17.37685387744868)

### 예제 2
향수 20개 추출, 지속시간의 분산 90**2, 향수의 분산 90% 신뢰구간을 구하여라.

In [7]:
n=20
u_var=90**2

rv=stats.chi2(df=n-1)
#0.05
#0.95
lcl=(n-1)*u_var/rv.isf(0.05)
ucl=(n-1)*u_var/rv.isf(0.95)

lcl,ucl

(5105.573709077189, 15211.99973041214)

### 예제 3(일표본T검정)
H0 : 감자튀김의 모평균은 130g

H1 : 감자튀김의 모평균은 130g이 아니다.

In [10]:
import pandas as pd
import numpy as np

data=pd.read_csv("ch11_potato.csv")
sample=np.array(data['무게'])
sample

array([122.02, 131.73, 130.6 , 131.82, 132.05, 126.12, 124.43, 132.89,
       122.79, 129.95, 126.14, 134.45, 127.64, 125.68])

In [11]:
import scipy.stats as stats
from scipy.stats import shapiro
shapiro(sample)

ShapiroResult(statistic=0.9412715435028076, pvalue=0.43486055731773376)

p-value가 0.05보다 크므로 귀무가설을 기각할 수 없다. 즉 정규분포를 따른다.

- 모분산 알고있을 경우(9)->z분포

In [16]:
mean0=130
p_var=9
s_mean=np.mean(sample)
n=len(sample)
rv=stats.norm()
z=(s_mean-mean0)/np.sqrt(p_var/n)
#z는 음수
p=rv.cdf(z)*2

In [17]:
p

0.05332263904625327

p-value는 0.05보다 크므로 귀무가설을 기각할 수 없다. 즉 감자튀김의 모평균은 130g이다.

- 모분산 모를경우(t분포)

In [21]:
mean0=130
s_mean=np.mean(sample)
u_var=np.var(sample, ddof=1)
n=len(sample)
rv=stats.t(df=n-1)
t=(s_mean-mean0)/np.sqrt(u_var/n)
#t는 음수
p=rv.cdf(t)*2
p

0.16933464230414275

p-value가 0.05보다 크므로 귀무가설을 기각할 수 없다. 감자튀김의 모평균은 130g이라고 할 수 있다.

In [22]:
#쉽게 구하는 방법
t, p=stats.ttest_1samp(sample, mean0)

In [23]:
t,p

(-1.4551960206404198, 0.16933464230414275)

- 정규분포를 따르지 않을때

In [24]:
stats.wilcoxon(sample-mean0, alternative='two-sided')

WilcoxonResult(statistic=32.0, pvalue=0.216552734375)

p-value가 0.05보다 크므로 귀무가설을 기각할 수 없다. 모평균은 130g이라고할 수 있다.

### 예제 4(일표본 T검정)

H0 : 고양이의 평균 몸무게는 2.6kg이다.
    
H1 : 고양이의 평균 몸무게는 2.6kg가 아니다.

In [26]:
import pandas as pd
data=pd.read_csv("cats.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     144 non-null    object
 1   Bwt     144 non-null    float64
 2   Hwt     144 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.5+ KB

In [29]:
import scipy.stats as stats
from scipy.stats import shapiro
mean0=2.6
shapiro(data.Bwt)

ShapiroResult(statistic=0.9518786668777466, pvalue=6.730248423991725e-05)

귀무가설을 기각한다. 즉 정규성을 따르지 않는다.

In [30]:
stats.wilcoxon(data.Bwt-mean0, alternative='two-sided')

WilcoxonResult(statistic=3573.0, pvalue=0.02524520294814093)

p-value가 0.05보다 작으므로 귀무가설을 기각한다. 즉 고양이의 평균 몸무게는 2.6kg가 아니다.

### 예제 5(대응표본 T검정)

In [31]:
data=pd.read_csv("ch11_training_rel.csv")

import scipy.stats as stats
from scipy.stats import shapiro
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전       20 non-null     int64
 1   후       20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes

In [32]:
shapiro(data.전)

ShapiroResult(statistic=0.9670043587684631, pvalue=0.6907904148101807)

In [33]:
shapiro(data.후)

ShapiroResult(statistic=0.9786623120307922, pvalue=0.9156785011291504)

귀무가설을 기각할 수 없다. 즉 정규성을 따른다.

In [35]:
stats.ttest_rel(data.전, data.후, alternative='two-sided')

Ttest_relResult(statistic=-2.204154108716127, pvalue=0.04004419061842953)

p-value는 0.05보다 작다. 즉 귀무가설을 기각한다. 전, 후 모평균 사이에 유의미한 차이가 있다.

### 예제 6(대응표본 T검정)

10명 환자 대상 수면제 복용 전과 후의 수면시간을 측정하였다.

H0 : 복용 전과 후의 수면시간에는 차이가 없다.
    
H1 : 복용 전과 후의 수면시간에는 차이가 있다.

In [36]:
data=pd.DataFrame({'before':[7,3,4,5,2,1,6,6,5,4], 'after':[8,4,5,6,2,3,6,8,6,5]})

In [37]:
data

   before  after
0       7      8
1       3      4
2       4      5
3       5      6
4       2      2
5       1      3
6       6      6
7       6      8
8       5      6
9       4      5

- 정규성 검정

In [38]:
import scipy.stats as stats
from scipy.stats import shapiro
shapiro(data['before'])

ShapiroResult(statistic=0.9644595384597778, pvalue=0.8352707624435425)

In [39]:
shapiro(data['after'])

ShapiroResult(statistic=0.9456837177276611, pvalue=0.6177994012832642)

귀무가설을 기각할 수 없다. 정규성을 따른다

In [40]:
stats.ttest_rel(data.before, data.after, alternative='two-sided')

Ttest_relResult(statistic=-4.743416490252569, pvalue=0.001053871257016553)

0.05보다 작아 귀무가설을 기각한다. 즉 복용 전후 수면시간에 차이가 있다.

### 예제 7(독립표본 T검정)

두개의 독립된 모집단의 평균을 비교

In [42]:
data=pd.read_csv("ch11_training_ind.csv")
data.head()

    A   B
0  47  49
1  50  52
2  37  54
3  60  48
4  39  51

In [43]:
import scipy.stats as stats
from scipy.stats import shapiro
shapiro(data['A'])

ShapiroResult(statistic=0.9685941338539124, pvalue=0.7249506711959839)

In [44]:
shapiro(data['B'])

ShapiroResult(statistic=0.9730017781257629, pvalue=0.8165717720985413)

귀무가설을 기각할 수 없다. 즉 정규성을 따른다

In [45]:
stats.levene(data.A, data.B)

LeveneResult(statistic=2.061573118077718, pvalue=0.15923550057222613)

귀무가설을 기각할 수 없다. 즉 등분산이다. equal_var=True

In [46]:
stats.ttest_ind(data.A, data.B, equal_var=True)

Ttest_indResult(statistic=-1.7608157246524712, pvalue=0.08631600572195147)

p-value가 0.05보다 커서 귀무가설을 기각할 수 없다. 즉 두 모평균 사이의 차이는 없다.

### 예제 8(독립표본 T검정)

H0 : 수컷과 암컷 고양이의 몸무게 차이는 없다.
    
H1 : 수컷과 암컷 고양이의 몸무게 차이는 있다.

In [47]:
data=pd.read_csv("cats.csv")
data.head()

  Sex  Bwt  Hwt
0   F  2.0  7.0
1   F  2.0  7.4
2   F  2.0  9.5
3   F  2.1  7.2
4   F  2.1  7.3

In [49]:
female=data[data['Sex']=='F'].Bwt
male=data[data['Sex']=='M'].Bwt

In [51]:
stats.levene(female, male)

LeveneResult(statistic=19.43101190877999, pvalue=2.0435285255189404e-05)

p-value가 0.05보다 작으므로 귀무가설을 기각한다. 즉 등분산이 아니다. equal_var=False

In [52]:
stats.ttest_ind(female, male, equal_var=False)

Ttest_indResult(statistic=-8.70948849909559, pvalue=8.831034455859356e-15)

p-value가 0.05보다 작으므로 귀무가설을 기각한다. 즉 수컷, 암컷 고양이의 몸무게 차이는 있다.

### 예제 9(독립성 검정)

H0 : 변수1과 변수2는 독립이다.
    
H1 : 변수1과 변수2는 독립이 아니다.

In [56]:
data=pd.read_csv("ch11_ad.csv")
data

    광고      구입
0    B  하지 않았다
1    B  하지 않았다
2    A      했다
3    A      했다
4    B  하지 않았다
..  ..     ...
995  B  하지 않았다
996  B  하지 않았다
997  B  하지 않았다
998  B  하지 않았다
999  A      했다

[1000 rows x 2 columns]

- 교차 집계표 작성

In [57]:
n=len(data)
ad_cross=pd.crosstab(data['광고'], data['구입'])
ad_cross

구입  하지 않았다  했다
광고
A      351  49
B      549  51

- 교차표 생성

In [58]:
chi2, p, dof, ef=stats.chi2_contingency(ad_cross, correction=False)
p

0.052807511416113395

p-value가 0.05보다 크므로 귀무가설을 기각할 수 없다. 광고와 구입은 독립이다.

### 예제 10(독립성 검정)

In [59]:
data=pd.DataFrame({'등산':[20,15], '수영':[10,30]}, index=['남자', '여자'])
data

    등산  수영
남자  20  10
여자  15  30

- 독립성 검정

In [61]:
chi2, p, dof, ef=stats.chi2_contingency(data, correction=False)
p

0.0045863920802535025

p-value는 0.05보다 작아 귀무가설을 기각한다. 즉 성별과 운동은 독립이 아니다.

### 예제 11(독립성 검정)

H0 : class 변수와 survived 변수는 독립이다.

H1 : class 변수와 survived 변수는 독립이 아니다.

In [62]:
data=pd.read_csv("titanic.csv")
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town
0,0,3,male,22.0,1,0,7.2500,S,Third,True,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton
3,1,1,female,35.0,1,0,53.1000,S,First,False,Southampton
4,0,3,male,35.0,0,0,8.0500,S,Third,True,Southampton

In [63]:
table=pd.crosstab(data['class'], data['survived'])
table

survived    0    1
class
First      80  136
Second     97   87
Third     372  119

In [64]:
from scipy.stats import chi2_contingency
chi, p, df, expect=chi2_contingency(table)
p

4.549251711298793e-23

p-value는 0.05보다 작으므로 귀무가설을 기각한다. 즉 class와 생존은 독립이 아니다.

In [ ]:
### 예제 12(Run-test)