상품 a와 b가 있을 때 다음과 같은 구매 패턴이 있다고 한다. aa bb aaaa bbbb a b aa bb aa bbb aa bb a b 구매하는 패턴으로 보아 두 상품이 연관이 있는지 확인하라

6-(1) 연구가설과 귀무가설 작성

H0 : 두개의 관측값이 임의적이다.(연관이x)\
H1 : 두개의 관측값이 임의적이 아니다.(연관성O)

6-(2) 평균과 표준편차

In [9]:
import pandas as pd
data=pd.DataFrame({'label':['a','a','b','b','a','a','a','a','b','b','b','b','a','b','a','a','b','b','a','a','b','b', 'b','a','a','b','b','a','b']})

In [10]:
data

   label
0      a
1      a
2      b
3      b
4      a
5      a
6      a
7      a
8      b
9      b
10     b
11     b
12     a
13     b
14     a
15     a
16     b
17     b
18     a
19     a
20     b
21     b
22     b
23     a
24     a
25     b
26     b
27     a
28     b

In [11]:
data['label'].value_counts()

b    15
a    14
Name: label, dtype: int64

In [15]:
a=14
b=15
mean=2*a*b/(a+b)+1
std=((2*a*b)*(2*a*b-a-b)/(a+b)**2/(a+b-1))**0.5

In [16]:
mean

15.482758620689655

In [17]:
std

2.6408030342821784

In [20]:
from statsmodels.sandbox.stats.runs import runstest_1samp
data.loc[data['label']=='a', 'label']=1
data.loc[data['label']=='b', 'label']=0

In [21]:
data

   label
0      1
1      1
2      0
3      0
4      1
5      1
6      1
7      1
8      0
9      0
10     0
11     0
12     1
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     0
23     1
24     1
25     0
26     0
27     1
28     0

In [23]:
runstest_1samp(data['label'], cutoff='mean', correction=True)

(-0.3721438547031917, 0.7097857460625617)

p-value값이 유의수준 0.05하에서 0.05보다 크기때문에 귀무가설을 기각할 수 없다. 즉 상품a와 b의 구매에는 연관이 없다..!