### 인덱싱

In [1]:
import pandas as pd

C:\Users\taeeu\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.el2c6ple4zyw3eceviv3oxxgrn2nrfm2.gfortran-win_amd64.dll
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
landmark=pd.DataFrame({'name':['광화문', '호미곶', '첨성대'], 'location':['서울 종로구 사직로 161', '경북 포항시 남구\
호미곶면 대보리 150', '경북 경주시 인왕동 839-1']})
landmark

  name               location
0  광화문         서울 종로구 사직로 161
1  호미곶  경북 포항시 남구호미곶면 대보리 150
2  첨성대       경북 경주시 인왕동 839-1

In [3]:
landmark['location'].str[3:6]

0    종로구
1    포항시
2    경주시
Name: location, dtype: object

### 분할

In [6]:
#expand=True : 분할된 문자열을 별도의 열로 확장
landmark['location'].str.split(" ", expand=True)

    0    1       2      3     4
0  서울  종로구     사직로    161  None
1  경북  포항시  남구호미곶면    대보리   150
2  경북  경주시     인왕동  839-1  None

In [7]:
landmark['도시']=landmark['location'].str.split(" ").str[0]

In [8]:
landmark

  name               location  도시
0  광화문         서울 종로구 사직로 161  서울
1  호미곶  경북 포항시 남구호미곶면 대보리 150  경북
2  첨성대       경북 경주시 인왕동 839-1  경북

### 문자 탐색

In [9]:
landmark['location'].str.startswith('서울')

0     True
1    False
2    False
Name: location, dtype: bool

In [10]:
landmark['location'].str.endswith('1')

0     True
1    False
2     True
Name: location, dtype: bool

In [11]:
landmark['location'].str.contains('1')

0    True
1    True
2    True
Name: location, dtype: bool