In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset=np.array([['kor', 70], ['math', 80]])
df=pd.DataFrame(dataset, columns=['class', 'score'])
df

  class score
0   kor    70
1  math    80

## 인덱스확인

In [4]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [7]:
list(df.index)

[0, 1]

In [9]:
df.index=['A', 'B']
df

  class score
A   kor    70
B  math    80

## set_index를 활용해서 열을 인덱스로 지정

In [10]:
df.set_index('class', drop=True, append=False, inplace=True)
df

      score
class
kor      70
math     80

## reset_index를 활용해서 인덱스 초기화

In [11]:
df.reset_index(drop=False, inplace=True)
#drop 기존 인덱스를 삭제할지

In [12]:
df

  class score
0   kor    70
1  math    80