In [2]:
import pandas as pd
from sklearn.datasets import load_iris

In [3]:
iris=load_iris()

In [4]:
iris=pd.DataFrame(iris.data, columns=iris.feature_names)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [5]:
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [6]:
iris.columns=['sepal length', 'sepal width', 'petal length', 'petal width']
iris

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

## str.replace를 사용해서 기존 컬럼명 문자 대체

In [7]:
iris.columns=iris.columns.str.replace(' ', '-')

In [8]:
iris.head(3)

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

## .astye()을 사용한 데이터 타입 변경

In [9]:
iris.dtypes

sepal-length    float64
sepal-width     float64
petal-length    float64
petal-width     float64
dtype: object

In [12]:
#int로 변경
iris['sepal-length']=iris['sepal-length'].astype('int')

In [13]:
iris.dtypes

sepal-length      int32
sepal-width     float64
petal-length    float64
petal-width     float64
dtype: object

In [16]:
iris[['sepal-width', 'petal-length']]=iris[['sepal-width', 'petal-length']].astype('int')

In [18]:
iris.dtypes

sepal-length      int32
sepal-width       int32
petal-length      int32
petal-width     float64
dtype: object

In [20]:
#int->정수타입으로 변경된 것을 확인
iris.head(3)

   sepal-length  sepal-width  petal-length  petal-width
0             5            3             1          0.2
1             4            3             1          0.2
2             4            3             1          0.2