## row 선택-슬라이싱

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
iris=load_iris()
iris=pd.DataFrame(iris.data, columns=iris.feature_names)
iris[1:4]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

## column 선택하기

In [2]:
iris['sepal length (cm)'].head(4)

0    5.1
1    4.9
2    4.7
3    4.6
Name: sepal length (cm), dtype: float64

In [3]:
iris[['sepal length (cm)', 'sepal width (cm)']].head(4)

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1

## iloc으로 row, column 선택하기-(행, 열)

In [4]:
iris.iloc[1:4]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [5]:
iris.iloc[[1,3,5], 2:4]

   petal length (cm)  petal width (cm)
1                1.4               0.2
3                1.5               0.2
5                1.7               0.4

In [6]:
iris.iloc[:, [True, True, False, True]]

     sepal length (cm)  sepal width (cm)  petal width (cm)
0                  5.1               3.5               0.2
1                  4.9               3.0               0.2
2                  4.7               3.2               0.2
3                  4.6               3.1               0.2
4                  5.0               3.6               0.2
..                 ...               ...               ...
145                6.7               3.0               2.3
146                6.3               2.5               1.9
147                6.5               3.0               2.0
148                6.2               3.4               2.3
149                5.9               3.0               1.8

[150 rows x 3 columns]