## row 선택-슬라이싱

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
iris=load_iris()
iris=pd.DataFrame(iris.data, columns=iris.feature_names)
iris[1:4]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

## column 선택하기

In [2]:
iris['sepal length (cm)'].head(4)

0    5.1
1    4.9
2    4.7
3    4.6
Name: sepal length (cm), dtype: float64

In [4]:
iris[['sepal length (cm)', 'sepal width (cm)']].head(4)

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1

## iloc으로 row, column 선택하기-(행, 열)

In [5]:
iris.iloc[1:4]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [ ]:
iris.iloc[[1,3,5],]