1)적합성분석\
H0: 관측분포가 기대분포와 동일\
H1: 관측분포가 기대분포와 다름

In [1]:
import pandas as pd
df=pd.read_csv('titanic.csv')
df.info()

C:\Users\taeeu\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.el2c6ple4zyw3eceviv3oxxgrn2nrfm2.gfortran-win_amd64.dll
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   adult_male   891 non-null    bool
 10  embark_town  889 non-null    object
dtypes: bool(1), float64(2), int64(4), object(4)
memory usage: 70.6+ KB

H0: 타이타닉호의 생존자 중 남자의 비율이 50%, 여자의 비율이 50%이다.\
H1: 타이타닉호의 생존자 중 남자의 비율이 50%, 여자의 비율이 50%라고 할 수 없다.

In [2]:
df['sex'].isna().sum()

0

In [21]:
#교차분석을 위해 명목형 변수 sex변수에 대한 도수분포표 생성
df_t=df[df['survived']==1]
table=df_t[['sex']].value_counts()
table

sex
female    233
male      109
dtype: int64

In [24]:
from scipy.stats import chisquare
chi=chisquare(table)
print('<적합도 검정>', chi)

<적합도 검정> Power_divergenceResult(statistic=44.95906432748538, pvalue=2.0119672574477235e-11)

p-value가 0.05보다 작으므로 귀무가설을 기각한다. 타이타닉호의 생존자 중 남자의 비율이 50%, 여자의 비율이 50%라고 할 수 었다.

2)독립성검정\
H0 :두 변수는 독립이다.\
H1 :두 변수는 독립이 아니다.\

In [25]:
df=pd.read_csv('titanic.csv')
table=pd.crosstab(df['class'], df['survived'])
table

survived    0    1
class
First      80  136
Second     97   87
Third     372  119

H0:class변수와 survived 변수는 독립이다.\
H1:class변수와 survived 변수는 독립이 아니다.

In [26]:
from scipy.stats import chi2_contingency
chi, p, df, expect=chi2_contingency(table)
print('Statistic:', chi)
print('p-value:', p)
print('df:', df)
print('expect:', expect)

Statistic: 102.88898875696056
p-value: 4.549251711298793e-23
df: 2
expect: [[133.09090909  82.90909091]
 [113.37373737  70.62626263]
 [302.53535354 188.46464646]]

p-value가 0.05보다 작으므로 귀무가설을 기각한다. class변수와 survived변수는 독립이 아니라고 할 수 있다.