In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris=load_iris()
iris=pd.DataFrame(iris.data, columns=iris.feature_names)
iris['Class']=load_iris().target
iris['Class']=iris['Class'].map({0:'Setosa', 1:'Versicolour', 2:'Virginica'})

C:\Users\taeeu\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.el2c6ple4zyw3eceviv3oxxgrn2nrfm2.gfortran-win_amd64.dll
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(iris.drop(columns='Class'), iris['Class'], test_size=0.2, random_state=1004)
print('X_train :', X_train.shape, ' X_test :', X_test.shape)
print('y_train :', y_train.shape, ' y_test :', y_test.shape)

X_train : (120, 4)  X_test : (30, 4)
y_train : (120,)  y_test : (30,)

In [15]:
X_train.head(3)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
87                 6.3               2.3                4.4               1.3
67                 5.8               2.7                4.1               1.0
131                7.9               3.8                6.4               2.0

In [16]:
y_train.head(3)

87     Versicolour
67     Versicolour
131      Virginica
Name: Class, dtype: object

In [17]:
iris['Class'].value_counts()

Setosa         50
Versicolour    50
Virginica      50
Name: Class, dtype: int64

In [18]:
y_train.value_counts()

Versicolour    41
Setosa         40
Virginica      39
Name: Class, dtype: int64

In [19]:
X_train, X_test, y_train, y_test=train_test_split(iris.drop(columns='Class'), iris['Class'], test_size=0.2, stratify=iris['Class'])
print('X_train :', X_train.shape, ' X_test :', X_test.shape)
print('y_train :', y_train.shape, ' y_test :', y_test.shape)

X_train : (120, 4)  X_test : (30, 4)
y_train : (120,)  y_test : (30,)

In [20]:
y_train.value_counts()

Versicolour    40
Virginica      40
Setosa         40
Name: Class, dtype: int64

## Standard Scaler-평균0, 분산1
- 최솟값과 최댓값의 크기를 제한하지 않아 이상치에 매우 민감
- 이상치를 미리 확인하고 정제한 후 사용
- 분류분석에 유용

In [21]:
from sklearn.preprocessing import StandardScaler
stand=StandardScaler()

In [22]:
#fit&transform
stand.fit(X_train)
X_train_std=stand.transform(X_train)
X_test_std=stand.transform(X_test)

In [25]:
round(X_train_std.mean(),2)

-0.0

In [26]:
round(X_train_std.std(),2)

1.0

## Min-max Scaler-평균0, 분산1
- 컬럼들을 0과 1 사이의 값으로 스케일링, 최솟값:0, 최댓값:1
- 이상치를 미리 확인하고 정제한 후 사용
- 회귀분석에 유용

In [27]:
from sklearn.preprocessing import MinMaxScaler
minmax=MinMaxScaler()

In [28]:
minmax.fit(X_train)
minmax_X_train=minmax.transform(X_train)
minmax_X_test=minmax.transform(X_test)

In [29]:
minmax_X_train.min()

0.0

In [30]:
minmax_X_train.max()

1.0

In [31]:
pd.DataFrame(minmax_X_train).head(3)

          0         1         2         3
0  0.393939  0.363636  0.542373  0.458333
1  0.636364  0.454545  0.694915  0.791667
2  0.757576  0.409091  0.745763  0.833333