In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv("problem3_covid2.csv")

C:\Users\taeeu\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.el2c6ple4zyw3eceviv3oxxgrn2nrfm2.gfortran-win_amd64.dll
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
data.head()

  location        date  new_cases
0  Austria  2021-01-01     2096.0
1  Austria  2021-01-02     1391.0
2  Austria  2021-01-03     1466.0
3  Austria  2021-01-04     1642.0
4  Austria  2021-01-05     2311.0

3-(1) 데이터는 일자별 각 나라의 일일 확진자수를 나타낸다. 각 나라의 일자별 누적확진자 수를 나타내는 데이터 프레임을 생성하라

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11895 entries, 0 to 11894
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   location   11895 non-null  object
 1   date       11895 non-null  object
 2   new_cases  11662 non-null  float64
dtypes: float64(1), object(2)
memory usage: 278.9+ KB

In [4]:
data['date']=pd.to_datetime(data['date'])

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11895 entries, 0 to 11894
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   location   11895 non-null  object
 1   date       11895 non-null  datetime64[ns]
 2   new_cases  11662 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 278.9+ KB

In [6]:
target=data.groupby(['location', 'date']).sum().groupby(level=0).comsun()

NameError: name 'df' is not defined

In [ ]:
target