1. 다음은 MASS 패키지의 ChickWeight 데이터 세트이다. weight를 최대-최소(Min-Max Scaling)로 변환한 결과가 0.5 이상인 레코드 수를 구하시오.

- 데이터 불러오기

In [1]:
import pandas as pd
data=pd.read_csv("ChickWeight.csv")

- minmaxscaler 패키지 불러오기

In [2]:
from sklearn.preprocessing import MinMaxScaler
minmax=MinMaxScaler()

- 정규화를 진행할 weight 컬럼 저장

In [3]:
weight=data[['weight']]
weight

     weight
0        42
1        51
2        59
3        64
4        76
..      ...
573     175
574     205
575     234
576     264
577     264

[578 rows x 1 columns]

- MinMax 정규화 진행

In [4]:
weight_minmax=pd.DataFrame(minmax.fit_transform(weight), columns=['weight'])

In [5]:
weight_minmax

       weight
0    0.020710
1    0.047337
2    0.071006
3    0.085799
4    0.121302
..        ...
573  0.414201
574  0.502959
575  0.588757
576  0.677515
577  0.677515

[578 rows x 1 columns]

- weight 컬럼에서 값이 0.5이상인 레코드 수 계산

In [6]:
len=len(weight_minmax[weight_minmax['weight']>=0.5])

- 답안제출

In [7]:
print(len)

81