1. 다음은 기업에서 생성된 주문 데이터이다. 80,009건의 데이터에 대하여 정시 도착가능 여부 예측 모델을 만들고, 평가 데이터에 대하여 정시도착 가능 여부 예측확률을 기록한 csv를 생성하시오.

- 데이터 불러오기

In [1]:
import pandas as pd
data=pd.read_csv("Train.csv")

In [2]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB
None

- X, y 분리

In [3]:
X=data.drop('Reached.on.Time_Y.N', axis=1)
y=data[['Reached.on.Time_Y.N']]

- X 더미변환

In [4]:
X=pd.get_dummies(X)

- train/test 분리

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, stratify=y, random_state=42)

- X_train, X_test 정규화

In [6]:
# 정규화
from sklearn.preprocessing import MinMaxScaler
minmax=MinMaxScaler()
minmax.fit(X_train)

MinMaxScaler()

In [7]:
minmax_X_train=minmax.transform(X_train)
minmax_X_test=minmax.transform(X_test)

- 분류 모델 생성(랜덤포레스트)

In [8]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(random_state=42, n_estimators=100, max_depth=10)
from sklearn.metrics import roc_auc_score

In [9]:
model.fit(minmax_X_train, y_train.values.ravel())
pred_train=model.predict(minmax_X_train)
auc_train=roc_auc_score(y_train, pred_train)

In [10]:
print(auc_train)

0.8386431273462651

- 예측확률 저장

In [11]:
pred_test=model.predict_proba(minmax_X_test)[:,1]
#데이터프레임으로 변경
pred_test=pd.DataFrame(pred_test)
pred_test.columns=['pred']
pred_test

          pred
0     0.412397
1     1.000000
2     0.999167
3     0.444192
4     0.445277
...        ...
2745  0.486343
2746  1.000000
2747  1.000000
2748  0.481629
2749  0.964927

[2750 rows x 1 columns]

- 제출파일 저장

In [12]:
pred_test.to_csv("수험번호.csv", index=False)

- 잘 저장되었는지 확인

In [13]:
data=pd.read_csv("수험번호.csv")
data.head()

       pred
0  0.412397
1  1.000000
2  0.999167
3  0.444192
4  0.445277