2. 다음은 BostonHousing 데이터 세트이다. crim 항목의 상위에서 10번째 값(즉, 상위 10번째 값중에서 가장 적은 값)으로 상위 10개의 값을 변환하고, age80 이상인 값에 대하여 crim 평균을 구하시오.

- 데이터 불러오기

In [1]:
import pandas as pd
data=pd.read_csv("bostonhousing.csv")

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CRIM       506 non-null    float64
 1   ZN         506 non-null    float64
 2   INDUS      506 non-null    float64
 3   CHAS       506 non-null    int64
 4   NOX        506 non-null    float64
 5   RM         506 non-null    float64
 6   AGE        506 non-null    float64
 7   DIS        506 non-null    float64
 8   RAD        506 non-null    int64
 9   TAX        506 non-null    int64
 10  PTRATIO    506 non-null    float64
 11  B          506 non-null    float64
 12  LSTAT      506 non-null    float64
 13  MEDV       506 non-null    float64
 14  CAT. MEDV  506 non-null    int64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

- CRIM 내림차순으로 정렬->상위10번째 중 가장 적은 값 top_min에 저장

In [3]:
top_min=data['CRIM'].sort_values(ascending=False).head(10).min()

In [4]:
top_min

25.9406

- CRIM 컬럼에서 top_min보다 큰 숫자는 top_min값으로 변환

In [5]:
data.loc[(data['CRIM']>top_min), 'CRIM']=top_min

- 변경 확인

In [6]:
#정렬
data.sort_values('CRIM', ascending=False, inplace=True)

In [7]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,CAT. MEDV
417,25.94060,0.0,18.10,0,0.679,5.304,89.1,1.6475,24,666,20.2,127.36,26.64,10.4,0
380,25.94060,0.0,18.10,0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21,10.4,0
414,25.94060,0.0,18.10,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0,0
413,25.94060,0.0,18.10,0,0.597,5.155,100.0,1.5894,24,666,20.2,210.97,20.08,16.3,0
410,25.94060,0.0,18.10,0,0.597,5.757,100.0,1.4130,24,666,20.2,2.60,10.11,15.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,0.01311,90.0,1.22,0,0.403,7.249,21.9,8.6966,5,226,17.9,395.93,4.81,35.4,1
341,0.01301,35.0,1.52,0,0.442,7.241,49.3,7.0379,1,284,15.5,394.74,5.49,32.7,1
285,0.01096,55.0,2.25,0,0.389,6.453,31.9,7.3073,1,300,15.3,394.72,8.23,22.0,0
284,0.00906,90.0,2.97,0,0.400,7.088,20.8,7.3073,1,285,15.3,394.72,7.85,32.2,1
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,0

- age가 80이상인 값에 대해 CRIM 평균 계산

In [8]:
result=data[data['AGE']>=80]['CRIM'].mean()

- 답안 제출

In [9]:
print(result)

5.759386624999999