In [1]:
from sklearn.datasets import load_iris
import pandas as pd

iris=load_iris()
iris_dt=iris.data
iris_label=iris.target

df=pd.DataFrame(data=iris_dt, columns=iris.feature_names)
df['Species']=iris_label

C:\Users\taeeu\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.el2c6ple4zyw3eceviv3oxxgrn2nrfm2.gfortran-win_amd64.dll
C:\Users\taeeu\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [3]:
df['Species'].unique()

array([0, 1, 2])

In [4]:
df.shape

(150, 5)

In [5]:
#데이터 개수가 적기 때문에 K-Fold교차검증 적용

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(iris_dt, iris_label, test_size=0.2, random_state=0, stratify=iris_label)

In [7]:
df.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
Species              0
dtype: int64

In [8]:
#모델 학습
#의사결정나무
from sklearn.tree import DecisionTreeClassifier
#max_depth: 트리 깊이
dtree_clf_5=DecisionTreeClassifier(max_depth=5, random_state=100)
dtree_clf_3=DecisionTreeClassifier(max_depth=3, random_state=100)
dtree_clf_1=DecisionTreeClassifier(max_depth=1, random_state=100)

In [9]:
from sklearn.model_selection import cross_val_score
import numpy as np
#교차검증, cv=10 : 검증평가를 10회에 걸쳐서
scores=cross_val_score(dtree_clf_5, x_train, y_train, scoring='accuracy', cv=10)
print('교차검증 정확도 : ', np.round(scores, 3))
print('평균검증 정확도 : ', np.round(np.mean(scores),4))

교차검증 정확도 :  [0.917 1.    0.917 1.    1.    0.833 1.    0.917 1.    0.833]
평균검증 정확도 :  0.9417

In [10]:
scores=cross_val_score(dtree_clf_3, x_train, y_train, scoring='accuracy', cv=10)
print('교차검증 정확도 : ', np.round(scores, 3))
print('평균검증 정확도 : ', np.round(np.mean(scores),4))

교차검증 정확도 :  [0.917 1.    0.917 0.917 1.    0.833 1.    0.917 0.917 0.833]
평균검증 정확도 :  0.925

In [11]:
scores=cross_val_score(dtree_clf_1, x_train, y_train, scoring='accuracy', cv=10)
print('교차검증 정확도 : ', np.round(scores, 3))
print('평균검증 정확도 : ', np.round(np.mean(scores),4))

교차검증 정확도 :  [0.667 0.667 0.667 0.667 0.667 0.667 0.667 0.667 0.667 0.667]
평균검증 정확도 :  0.6667

## 교차검증 후 fit, predict->최종 예측값 저장

In [12]:
dtree_clf_5.fit(x_train, y_train)
pred=dtree_clf_5.predict(x_test)
from sklearn.metrics import accuracy_score
print('의사결정나무(교차검증 후) 예측 정확도 : {0:.5f}'.format(accuracy_score(y_test, pred)))

의사결정나무(교차검증 후) 예측 정확도 : 0.96667

In [16]:
pred=pd.DataFrame(pred, columns=['pred Species'])
pred

    pred Species
0              0
1              1
2              0
3              2
4              0
5              1
6              2
7              0
8              0
9              1
10             2
11             1
12             1
13             2
14             1
15             2
16             2
17             1
18             1
19             0
20             0
21             2
22             2
23             1
24             0
25             1
26             1
27             2
28             0
29             0

In [17]:
actual=pd.DataFrame(y_test, columns=['actual Species'])
actual

    actual Species
0                0
1                1
2                0
3                2
4                0
5                1
6                2
7                0
8                0
9                1
10               2
11               1
12               1
13               2
14               1
15               2
16               2
17               1
18               1
19               0
20               0
21               2
22               2
23               2
24               0
25               1
26               1
27               2
28               0
29               0

In [18]:
classify_result=pd.concat([pred, actual], axis=1)
classify_result.to_csv('clf_result.csv', index=False, encoding='utf-8-sig')
classify_result.head()

   pred Species  actual Species
0             0               0
1             1               1
2             0               0
3             2               2
4             0               0