In [1]:
from datetime import datetime

- %y : 년(OO), %Y : 년(0000)
- %m : 월(숫자)
- %d : 일(숫자)

- %H : 시간
- %M : 분
- %S : 초
- %b : 월(Short) #영어로 된 월 문자열, %B : 월(Full) #영어로 된 문자열
- %D : 월/일/년
- %a : 요일 #영어로 된 요일 문자열, %A : 요일(Full) 
- weekday : 월요일이0, 일요일이 6 -> weekday+1로 출력(1~7)

* 날짜(2020-01-01)->요일(Sunday~Saeturday)로 변환
data['day']=data['datetime'].dt.day_name()

* 타임스템프로 변환
\
data['timestamp']=pd.to_datetime(data['num'], unit='D', origin=pd.Timestamp('1960-01-01'))

* datetime->str로 바꿀때 년/월/일 표현\
q.loc[:, 'date']=q['time'].dt.strftime('%Y-%m-%d')

In [5]:
import time
from datetime import datetime, date, timedelta

#월=0, 일=6
#오늘은 화요일이니까 1
datetime.now().weekday(), datetime.now().date(), datetime.now().time()

(1, datetime.date(2022, 11, 15), datetime.time(12, 6, 23, 155386))

In [4]:
week=timedelta(weeks=1)
next_week=date.today() + week
timedelta(days=5, hours=17, minutes=30), week, date.today(), next_week

(datetime.timedelta(days=5, seconds=63000),
 datetime.timedelta(days=7),
 datetime.date(2022, 11, 15),
 datetime.date(2022, 11, 22))

### 시간데이터 타입 변환

- str로 변환 (timestamp->datetime->str)

In [7]:
timestamp1=time.time()
timestamp_to_str=str(timestamp1)
timestamp1, type(timestamp1), timestamp_to_str, type(timestamp_to_str)

(1668483689.1461957, float, '1668483689.1461957', str)

timestamp에 str을 하면 단순히 숫자에 문자가 들어가는 것으로 끝남

-> datetime에 strftime을 이용하여 원하는 형태를 넣어주면 원하는 str타입의 형태로 반환

In [9]:
datetime_to_str=datetime.now().strftime("%Y-%m-%d %H:%M:%S)
datetime.now(), type(datetime.now()), datetime_to_str, type(datetime_to_str)

(datetime.datetime(2022, 11, 15, 12, 45, 53, 612030),
 datetime.datetime,
 '2022-11-15 12:45:53',
 str)

- timestamp로 변환 \
(str->{strftime}->datetime->{timetuple(), time.mktime()}->timestamp

In [13]:
str1='2018-05-16 12:00:00' #str
str_to_datetime=datetime.strptime(str1, "%Y-%m-%d %H:%M:%S")
datetime_to_timestamp=time.mktime(str_to_datetime.timetuple())
str1, type(str1), str_to_datetime, type(str_to_datetime), datetime_to_timestamp, type(datetime_to_timestamp)

('2018-05-16 12:00:00',
 str,
 datetime.datetime(2018, 5, 16, 12, 0),
 datetime.datetime,
 1526439600.0,
 float)

- datetime로 변환

In [14]:
str1="2018-05-16 12:00:00"
#str->datetime
str_to_datetime=datetime.strptime(str1, "%Y-%m-%d %H:%M:%S")
str1, type(str1), str_to_datetime, type(str_to_datetime)

('2018-05-16 12:00:00',
 str,
 datetime.datetime(2018, 5, 16, 12, 0),
 datetime.datetime)

In [15]:
#timestamp->datetime
timestamp_to_datetime=datetime.fromtimestamp(time.time())
time.time(), type(time.time()), timestamp_to_datetime, type(timestamp_to_datetime)

(1668487612.3556237,
 float,
 datetime.datetime(2022, 11, 15, 13, 46, 52, 355624),
 datetime.datetime)

### pandas패키지 이용

In [16]:
import pandas as pd
pd_ts=pd.Timestamp(2019, 12,22,13,30,59)

pd_ts, type(pd_ts)

(Timestamp('2019-12-22 13:30:59'), pandas._libs.tslibs.timestamps.Timestamp)

In [17]:
pd_ts.timestamp(), pd_ts.date(), pd_ts.time()

(1577021459.0, datetime.date(2019, 12, 22), datetime.time(13, 30, 59))

In [18]:
pd_ts.strftime("%Y-%m-%d %H:%M:%S"), type(pd_ts.strftime("%Y-%m-%d %H:%M:%S"))

('2019-12-22 13:30:59', str)

In [22]:
pd.Timestamp.now(), pd.Timestamp.today(), type(pd.Timestamp.today())

(Timestamp('2022-11-15 14:18:17.911970'),
 Timestamp('2022-11-15 14:18:17.911970'),
 pandas._libs.tslibs.timestamps.Timestamp)

In [23]:
t1='2020-03-02 00:00:00'
t2=pd.to_datetime(t1)
t1, type(t1), t2, type(t2)

('2020-03-02 00:00:00',
 str,
 Timestamp('2020-03-02 00:00:00'),
 pandas._libs.tslibs.timestamps.Timestamp)