In [1]:
import pandas as pd
import io
import requests

YearJoined = pd.read_csv("https://raw.githubusercontent.com/PracticalTimeSeriesAnalysis/BookRepo/master/Ch02/data/year_joined.csv")
emails = pd.read_csv("https://raw.githubusercontent.com/PracticalTimeSeriesAnalysis/BookRepo/master/Ch02/data/emails.csv")
donations = pd.read_csv("https://raw.githubusercontent.com/PracticalTimeSeriesAnalysis/BookRepo/master/Ch02/data/donations.csv")

In [2]:
YearJoined.head()

   user userStats  yearJoined
0     0    silver        2014
1     1    silver        2015
2     2    silver        2016
3     3    bronze        2018
4     4    silver        2018

In [3]:
emails.head()

   emailsOpened  user                 week
0           3.0   1.0  2015-06-29 00:00:00
1           2.0   1.0  2015-07-13 00:00:00
2           2.0   1.0  2015-07-20 00:00:00
3           3.0   1.0  2015-07-27 00:00:00
4           1.0   1.0  2015-08-03 00:00:00

In [4]:
donations.head()

   amount            timestamp  user
0    25.0  2017-11-12 11:13:44   0.0
1    50.0  2015-08-25 19:01:45   0.0
2    25.0  2015-03-26 12:03:47   0.0
3    50.0  2016-07-06 12:24:55   0.0
4    50.0  2016-05-11 18:13:04   1.0

In [8]:
YearJoined.groupby('user').count().groupby('userStats').count()

           yearJoined
userStats
1                1000

1000명의 모든 회원이 단 하나의 상태만 가진다는 사실

In [9]:
emails[emails['emailsOpened']<1]

Empty DataFrame
Columns: [emailsOpened, user, week]
Index: []

널이 아예 발생하지 않았거나 모든 회원이 이메일을 열람했거나 둘중 하나의 이벤트가 발생

In [11]:
emails[emails.user==998]

       emailsOpened   user                 week
25464           1.0  998.0  2017-12-04 00:00:00
25465           3.0  998.0  2017-12-11 00:00:00
25466           3.0  998.0  2017-12-18 00:00:00
25467           3.0  998.0  2018-01-01 00:00:00
25468           3.0  998.0  2018-01-08 00:00:00
25469           2.0  998.0  2018-01-15 00:00:00
25470           3.0  998.0  2018-01-22 00:00:00
25471           2.0  998.0  2018-01-29 00:00:00
25472           3.0  998.0  2018-02-05 00:00:00
25473           3.0  998.0  2018-02-12 00:00:00
25474           3.0  998.0  2018-02-19 00:00:00
25475           2.0  998.0  2018-02-26 00:00:00
25476           2.0  998.0  2018-03-05 00:00:00
25477           3.0  998.0  2018-03-12 00:00:00
25478           2.0  998.0  2018-03-19 00:00:00
25479           2.0  998.0  2018-03-26 00:00:00
25480           3.0  998.0  2018-04-02 00:00:00
25481           3.0  998.0  2018-04-09 00:00:00
25482           3.0  998.0  2018-04-16 00:00:00
25483           3.0  998.0  2018-04-30 00:00:00
25484           3.0  998.0  2018-05-07 00:00:00
25485           3.0  998.0  2018-05-14 00:00:00
25486           3.0  998.0  2018-05-21 00:00:00
25487           3.0  998.0  2018-05-28 00:00:00