상품 a와 b가 있을 때 다음과 같은 구매 패턴이 있다고 한다. aa bb aaaa bbbb a b aa bb aa bbb aa bb a b 구매하는 패턴으로 보아 두 상품의 패턴이 임의적인지 확인하라

In [1]:
import pandas as pd
import numpy as np

In [6]:
data=pd.DataFrame({'product':['a','a','b','b','a','a','a','a','b','b','b','b',\
                              'b','a','a','b','b','a','b','b']})

In [8]:
data

   product
0        a
1        a
2        b
3        b
4        a
5        a
6        a
7        a
8        b
9        b
10       b
11       b
12       b
13       a
14       a
15       b
16       b
17       a
18       b
19       b

In [14]:
data.loc[data['product']=='a', 'product']=1

In [15]:
data.loc[data['product']=='b', 'product']=0

In [20]:
a=9
b=11

In [21]:
mean=2*a*b/(a*b)+1
mean

3.0

In [27]:
from statsmodels.sandbox.stats.runs import runstest_1samp

In [30]:
runstest_1samp(data['product'], cutoff=0.5, correction=True)

(-1.1144881152070183, 0.26506984027306035)